.about__conteiner{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:  var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px lightgray;
}
.about__sectionA{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__sectionA__conteiner{
    position: relative;
    width: 70%;
    aspect-ratio: 1;
    filter: grayscale(.75);
    overflow: visible;
}
.about__sectionA__img{
    object-fit: contain;
    -webkit-filter: drop-shadow(10px 10px 0px #222);
    filter: drop-shadow(10px 10px 0px #222);
}
.about__sectionB{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.about__sectionB_text{
    font-family: var(--main-typography);
    width: 80%;
}
.sub{
    background-color: var(--letter);
    color: var(--plain);
    padding: .1rem .3rem;
}
@media only screen and (max-width: 768px) {
    /*For mobile phones*/
    .about__conteiner{
        flex-direction: column;
    }
    .about__sectionA{
        height: 40%;
        width: 100%;
    }
    .about__sectionA__conteiner{
        width: 50%;
    }
    .about__sectionB{
        height: 60%;
        width: 100%;
    }
    .about__sectionB_text{
        font-size: 0.85rem;
        width: 85%;
    }
}


