.ContactForm__conteiner{
    height: auto;
    width: 60%;
}
.ContactForm__form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--main-typography);
    font-size: 1.2rem;
    padding: 2rem;
}
.ContactForm__form label{
    margin: 1.2rem 0 .4rem .5rem;
}
.ContactForm__form label::first-letter{
    color: lightcoral;
}
.ContactForm__form input{
    width: 100%;
    padding: .4rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    font-family: var(--main-typography);
    font-size: .9rem;
}
.ContactForm__form textarea{
    padding: .4rem;
    width: 100%;
    min-height: 100px ;
    border-radius: 1rem;
    resize: none;
    outline: none;
    border: none;
    font-family: var(--main-typography);
}
.ContactForm__form button{
    padding: .4rem;
    margin-top: 2rem;
    width: 100%;
    font-family: var(--main-typography);
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
    background-color: lightcoral;
    color: white;
    transition: all 200ms ease;
}
.ContactForm__form button:hover{
    color: lightcoral;
    background-color: white;
    cursor: pointer;
}
.ContactForm__form button:disabled{
    background-color: rgb(156, 93, 93);
}
.input__error{
    border: 2px solid red !important;
}
.input__errorText{
    margin-top: .2rem;
    color: red;
}
.button__succesText{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    color: green;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .ContactForm__conteiner{
        height: 100%;
        width: 80%;
    }
    .ContactForm__form{
        height: auto;
        
    }
}