@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');
*,*::before,*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  /*Letter color*/
  --letter: rgb(32,32,32);
  --plain: white;
  /*Others variables*/
  --first-color: #ffebbb;
  --second-color:#ffcab0;
  --third-color:#fdffcd;
  --fourth-color:#e0ffcd;
}
.conteiner{
  overflow: hidden;
  position: relative;
  background-image:
  radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent),
  radial-gradient(circle at 0    50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
  background-size: 100px 50px;
}

