@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');
*,*::before,*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
:root {
  --primary-color:rgb(218,217,206);
  --primary-color-dark:rgb(185, 184, 174);
}
.conteiner{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--primary-color);
  position: relative;
}

