@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

*,*::before,*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
:root,html[data-theme='original'] {
  /*Letter color*/
  --letter: rgb(32,32,32);
  --plain: white;
  /*Others variables*/
  --first-color: #F7F9D8;
  --second-color:#CED3D5;
  --third-color:#F3ECE7;
  --fourth-color:#FAC8D4;

  --fourth-colorB:#f08080;

  --pattern:rgb(230, 230, 230);

  --main-typography:'Roboto Slab', serif;
  --second-typography:'Pattaya', sans-serif;
}
html[data-theme='secondary'] {
  /*Letter color*/
  --letter: rgb(32,32,32);
  --plain: white;
  /*Others variables*/
  --first-color: hsl(64, 100%, 50%);
  --second-color:hsl(197, 100%, 60%);
  --third-color:hsl(25, 100%, 60%);
  --fourth-color:hsl(346, 100%, 80%);

  --fourth-colorB:hsl(0, 100%, 90%);

  --pattern:rgb(230, 230, 230);

  --main-typography:'Roboto Slab', serif;
  --second-typography:'Pattaya', sans-serif;
}
.conteiner{
  height: 100vh;
  width: 100vw;
  background:
    linear-gradient(45deg, var(--pattern) 45px, transparent 45px)64px 64px,
    linear-gradient(45deg, var(--pattern) 45px, transparent 45px,transparent 91px, white 91px, white 135px, transparent 135px),
    linear-gradient(-45deg, var(--pattern) 23px, transparent 23px, transparent 68px,var(--pattern) 68px,var(--pattern) 113px,transparent 113px,transparent 158px,var(--pattern) 158px);
  background-color:white;
  background-size: 128px 128px;
}

