/*Parent element*/
.navbar__conteiner{
    height: 100vh;
    width: 100%;
    position: relative;
}
/*Dynamic menu*/
.navbar__body{
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    display: flex;
    padding: 0 15rem;
    justify-content: space-between;
    align-items: center;
    font-family: var(--main-typography);
    font-size: 1.75rem;
    font-weight: 700;
    text-decoration: none;
    z-index: 300;
    transition: all 500ms ease;
}
.navbar__body a{
    padding: .2rem .5rem;
    text-decoration: none;
    color: var(--letter);
    position: relative;
    z-index: 100;
}
/*Text Effect*/
.navbar__body a{
    padding: .2rem .5rem;
    text-decoration: none;
    position: relative;
    z-index: 100;
}
.navbar__body a::before{
    transition: all 400ms ease;
    position: absolute;
    z-index: -1;
    content: "";
    background-color: var(--letter);
    height: 100%;
    opacity: 0;
    width: 0%;
    top: 0;
    left: 0;
}
.navbar__body a:hover::before{
    width: 100%;
    opacity: 1;
}
.navbar__body a:hover{
    color: white;
}
/*Button Effect*/
.navbar__button{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 100;
    height: 3rem;
    width: 3rem;
    display: none;
    z-index: 600;
}
.navbar__button_cont{
    position: relative;
    height: 100%;
    width: 100%;
}
.navbar__bar1{
    position: absolute;
    top: 0;
    height: 6px;
    width: 100%;
    transition: all 500ms ease;
    background-color: var(--letter);
}
.navbar__bar2{
    position: absolute;
    bottom: 50%;
    height: 6px;
    width: 100%;
    transition: all 500ms ease;
    background-color: var(--letter);
    transform: translateY(3px);
}
.navbar__bar3{
    position: absolute;
    bottom: 0;
    height: 6px;
    width: 100%;
    transition: all 500ms ease;
    background-color: var(--letter);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .navbar__body{
        height: 100%;
        flex-direction: column;
        left: 100%;
        padding: 12rem 0rem;
        z-index: 300;
        background-color: var(--first-color);
    }
    .active {
        left: 0%;
    }
    .navbar__button{
        display: block;
    }
    .trans1{

        transform:  translateY(calc(1.5rem - 3px)) translateX(.3rem) rotate(-45deg) ;
    }
    .trans2{
        opacity: 0;
    }
    .trans3{
        transform:  translateY(calc(-1.5rem + 3px)) translateX(.3rem) rotate(45deg);
    }
  }