.podcast__conteiner{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px lightgray;
}
.podcast__sectionA{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.podcast__sectionA__conteiner{
    position: relative;
    width: 70%;
    aspect-ratio: 1;
    filter: grayscale(.75);
    overflow: visible;
}
.podcast__sectionA__img{
    object-fit: contain;
    -webkit-filter: drop-shadow(10px 10px 0px #222);
    filter: drop-shadow(10px 10px 0px #222);
}
.podcast__sectionB{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 768px) {
    /*For mobile phones*/
    .podcast__conteiner{
        flex-direction: column;
    }
    .podcast__sectionA{
        height: 40%;
        width: 100%;
    }
    .podcast__sectionA__conteiner{
        width: 50%;
    }
    .podcast__sectionB{
        height: 60%;
        width: 100%;
        align-items: flex-start;
    }
}

